fastapi==0.135.2
uvicorn==0.42.0
qdrant-client==1.17.1
requests==2.33.0
python-dotenv==1.2.2
python-multipart==0.0.22
PyMuPDF==1.27.2.2
google-genai==1.70.0
pymongo==4.7.2
PyJWT==2.9.0
pwdlib[argon2]==0.2.0
email-validator==2.2.0